.header{
    background-color: rgb(44, 29, 29);
    padding: 1rem 0;
    margin-bottom: 50px;
}
.container{
    width: 75%;
    color: white;
    margin: auto;
}
.container h1{
    margin: 0;
    padding-bottom: 5px;
    font-size: 2rem;
}
.container h4{
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.2rem;
}
